<!-- admin.ejs -->
<html lang="en">

<head>
    <title>Admin Panel</title>
    <!-- Add this link to your HTML file's head section -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 20px;
        }

        h1 {
            color: #333;
            border-bottom: 2px solid #333;
            padding-bottom: 10px;
        }

        .game-container {
            margin-top: 20px;
        }

        .game {
            background-color: #f9f9f9;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
        }

        .delete-btn {
            background-color: #dc3545;
            color: white;
            padding: 5px 10px;
            text-decoration: none;
            border-radius: 3px;
            margin-left: 10px;
        }
    </style>
</head>

<body>
    <!-- admin.ejs -->

    <div class="container mt-4">
        <h1>Welcome to the Admin Panel</h1>

        <div class="row">
            <% games.forEach(game=> { %>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="<%= game.image %>" class="card-img-top" alt="<%= game.title %>">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= game.title %>
                            </h5>
                            <p class="card-text"><strong>Release Date:</strong>
                                <%= game.releaseDate.toISOString().split('T')[0] %>
                            </p>

                            <a href="/edit/<%= game._id %>" class="btn btn-primary btn-sm mr-2">Edit</a>

                            <a href="/delete/<%= game._id %>" class="btn btn-danger">Delete</a>

                          
                            </form>
                        </div>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</html>